version: '3.8'

services:


  postgres:
    image: postgres:13-alpine
    environment:
      - POSTGRES_DB=ecommerce
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgressql/data
      - ./init-db.sql:/docker-enterypoint-initdb.d/init-db.sql

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 3s
      retries: 5


  product-service:
    build: ./product-service
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=ecommerce
      - DB_USER=postgres
      - DB_PASSWORD=password

    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 3

      start_period: 15s

  cart-service:
    build: ./cart-service
    ports:
      - "3002:3001"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

    depends_on:
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      
      start_period: 30s

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:80"

    depends_on:
      product-service:
        condition: service_healthy
      cart-service:
        condition: service_healthy


volumes:
  postgres_data:
  redis_data:
